html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

html, body { height: 100%; width: 100% }
body { background: #000 url(/img/wall.jpg) no-repeat center }

h1, h2 { font-family: 'Holtwood One SC' }
#intro { text-align: center; margin-top: 27%; color: #f4f4f4; text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5); -webkit-animation: fail 10s infinite; }
#intro h1 { font-size: 3rem }
#intro h2 { font-size: 2rem }
#veil { opacity: 0; pointer-events: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #000; -webkit-animation: fadeout 5s 1 }
#intro, #veil { display: none }

#billboard  { -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); transform: rotate(-2deg) }
#billboard:before { position: absolute; height: 100%; width: 100%; border: 3px solid black; background: #000; z-index: 100 }
#billboard  { 
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8), 5px 10px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow:    0px 0px 20px rgba(0, 0, 0, .8), 5px 10px 10px rgba(0, 0, 0, .5);
  box-shadow:         0px 0px 20px rgba(0, 0, 0, .8), 5px 10px 10px rgba(0, 0, 0, .5)
}

#billboard  { position: relative; top: 50%; width: 700px; height: 800px; margin: -450px auto 0; padding: 1rem; background: #a8a8a8; color: #7f7f7f; font-family: 'Didact Gothic' }
#billboard header { margin-bottom: 50px }
#billboard h1, #billboard h2 { font-weight: bold; text-transform: uppercase }
#billboard h1 { font-family: 'Bangers'; font-size: 3rem }
#billboard h2 { font-family: 'Holtwood One SC'; font-size: 1rem }

#when { font-family: 'Six Caps'; font-size: 6rem }
#what { font-size: 1.4rem; margin: 0; list-style-position: inside }
#what li:first-of-type  { list-style-type: none; margin: 0 }
#what li                { display: inline }
#sign-up        { position: absolute; bottom: 10px; right: 10px; width: 250px; height: 152px; font-size: 50px; line-height: 145px; padding-left: 20px; background: url(/img/arrow.png) no-repeat center; color: #a8a8a8; text-decoration: none; text-transform: uppercase }
#sign-up        { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; transition: 0.2s linear }
#sign-up:hover  { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); transform: translateY(5px) }

@-webkit-keyframes fail {
  0%    { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  14%   { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  15%   { text-shadow: 0 0 5rem rgba(255, 255, 255, 0.5) }
  16%   { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  25%   { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  26%   { text-shadow: 0 0 5rem rgba(255, 255, 255, 0.5) }  
  27%   { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  74%   { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  75%   { text-shadow: 0 0 5rem rgba(255, 255, 255, 0.5) }
  76%   { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
  100%  { text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5) }
}

@-webkit-keyframes fadeout {
  0%    { opacity: 1 }
  50%   { opacity: 1 }
  100%  { opacity: 0 }
}