html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #696969; color: #a8a8a8; text-shadow: none; }
::selection { background: #696969; color: #a8a8a8; text-shadow: none }

a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

html, body { height: 100%; width: 100% }
body { background: #000 url(/img/wall.jpg) no-repeat center }

a { display: inline-block; padding: 0.05em 0.25em 0.15em; border-radius: 0.5em; background: #696969; color: #a8a8a8; text-decoration: none }

h1, h2 { font-family: 'Holtwood One SC' }
em { font-weight: bold }
#intro { width: 700px; top: 50%; left: 50%; margin: -100px 0 0 -350px; text-align: center; color: #f4f4f4; text-shadow: 0 0 12rem rgba(255, 255, 255, 0.5); z-index: 99999; opacity: 0; -webkit-animation: fail 5s infinite }
#intro {
  -webkit-transition: opacity 0.5s linear;
  -moz-transition:    opacity 0.5s linear;
  transition:         opacity 0.5s linear
}
#intro h1 { font-size: 3rem }
#intro h2 { font-size: 2rem }
#intro, #veil { position: absolute }
#veil { top: 0; right: 0; bottom: 0; left: 0; opacity: 1; pointer-events: none; background: #000; z-index: 9999 }
#billboard  { 
  -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg); transform: rotate(-2deg);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8), 5px 10px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 40px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0 0 20px rgba(0, 0, 0, 0.8), 5px 10px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 40px rgba(0, 0, 0, 0.2);
  box-shadow:         0 0 20px rgba(0, 0, 0, 0.8), 5px 10px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 40px rgba(0, 0, 0, 0.2)
}

#billboard  { position: relative; top: 50%; width: 700px; height: 800px; margin: -450px auto 0; padding: 30px 20px 20px; background: #a8a8a8 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2ZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowMTgwMTE3NDA3MjA2ODExOTQ1N0RFNzhCRDc4QjlCMiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo5OUU1NjYxQzc5MjIxMUUwQjFDRDkyNjJFQjhDNDBBMiIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo5OUU1NjYxQjc5MjIxMUUwQjFDRDkyNjJFQjhDNDBBMiIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IE1hY2ludG9zaCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjA1ODAxMTc0MDcyMDY4MTE5NDU3REU3OEJENzhCOUIyIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjAxODAxMTc0MDcyMDY4MTE5NDU3REU3OEJENzhCOUIyIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+XcKwMAAABAlJREFUeNp0VE1IVGEUvTNvdJzxb3Qcf5rRFFJUsI1jjLoIciPtFVJIaJG4CSNaCNIi2rQyMVGQKHXVInBZmEIIo5KKQWqgozkz+Jczjjr+O/M65yt39eCb9+Z995577rnnewaj0SgFBQViMpmEz8nJybK+vi7hcFhwXbdarSWpqan2WCym7+3tbeG+ivcBg8EgaWlpEo1GJR6PM1Z0XRcDgmV6eloKCwvVi66uLunr6/MUFxe3eDyeO3jvzMzMTEpISND39/ej8/Pz/rGxsc8LCwvvGxsbv3Z0dOgEHxgYkJ6eHjHxT1ZWliBBEGCdm5t72tra+ri0tDSdlY+OjuT4+Fjtg5Gtvr7eVldXd3N8fPweQF4lJia+HhwcPAYBxdKkaZqi3NLSYgZYT3t7+wO2srS0JNvb2wrw4OBAxdhsNmFiSUmJ1NbW5jmdzhednZ25Jycnz6uqqiIE1Bjk9XotExMTz9ra2h5dXFzI6uqqzMzMSDAYFLQph4eHsrOzo/5vbGzI6emp5ObmSnp6ulZeXu7u7+8Pr6ysTENjXTs7OxOfz1eLdntB37S5uSnYFDInSCAQkEgkokA5AA6OEpB9Xl6eZGdna5eXl0VTU1NeENzQ0IqhqKjoSVlZWQ0ny2TqRRbLy8tyfn6uFv9jwkICSUlJKs5sNqtnANvR5S9098UI1BzY5vZVa2TAoK2tLUFlBc53TIaFFODu7q56ZgxzLBYLXVIDrGucMn3mYnVOnJtMIqOUlBQ1DLZPSymfIYatU2veuZjrcDhcACw0IjgHDCxMgsiKHcEyMjKojzI6Tc993lmEoGyZBTBhRQBErAB0mMDgAq3FaQ273a6Epm3YLrWj8ZlEFmRLMMZCd9UNC5EtBhXjYSFgCAFRJFqpB6vl5+crAGp1daxY4EpnFsXpUUAsRo0x0AOEhU348cNfP2HWbFYmA7ZJ87JFApIpC3EP1pKKigplHYJTHr4P0qQiQQIGYNYxHL9bnKjf71c6QWTB8VMsWIiAbI8x3OcHhAOhjsA6hKYzxCJgHMEfAdqAVm8sLi6qirRJZWWlYsnW2daVnjxJZMZFprOzs9+B8wnrXKM+YBeA81E8wYNnM08KQTlxtkuWvDOZBXl6CEx2+FL54MchwHwgOTKUpqamOM7hm+HhYTsM+xBM7UzCF0UlUTfe2TIX2eOjoU9OTvog0Uh1dfW7tbW1SxpdAdIm3d3dEbT3cmhoaCcUCt13uVylKGKhTmyVIBwQWOs4kuEfuKDtSENDw9ve3t6Q2+3+8/niz+joqBIbR3AfluiGyF5Uuwu2VQBzgqEVzHSwimKyQWj3jWnQ1QupYs3NzcKPCi+D/P/iOS/gccKy/40NYa3TarTmv5J+CzAAJlGGYFES47gAAAAASUVORK5CYII=) no-repeat center 5px; color: #696969; font-family: 'Didact Gothic' }
#billboard header { margin-bottom: 30px }
#billboard h1, #billboard h2 { font-weight: bold; text-transform: uppercase }
#billboard h1 { font-family: 'Bangers'; font-size: 3rem }
#billboard h2 { font-family: 'Holtwood One SC'; font-size: 1rem }

#when   { font-family: 'Six Caps'; font-size: 7rem; margin: 0 }
#where  { font-size: 1.4rem; margin: 0 }
#what   { font-size: 1.8rem; margin: 30px 0; list-style-position: inside }
#what li:first-of-type  { list-style-type: none; margin: 0 }
#what li                { display: inline }
#by   { font-size: 3rem; margin-top: 60px }
#cred, #questions { font-size: 1.2rem }
#price { margin-top: 30px; font-size: 2.5rem }
#price span { font-size: 50% }
#questions { position: absolute; bottom: 20px; left: 20px }
#sign-up        { position: absolute; bottom: 10px; right: 10px; width: 250px; height: 152px; font-size: 50px; line-height: 145px; padding-left: 20px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAACYCAYAAADN0PRsAAAD/0lEQVR4nO3Y23EcNxRF0TMs5WVlYisQcmqUiOlMlBn9YdqmqHlPdwO4WCuC87MLt5DAgF5eXn5vvWEkT60HwD12u92r2K8ndIYl9usJnaGJ/TpCZ3hiv0zolCD284ROGWI/TeiUIvbjhE45Yv+V0ClJ7D8TOmWJ/X9CpzSx/0PolCd2oTOJ2WMXOtOYOXahM5VZYxc605kxdqEzpdliFzrTmil2oTO1WWIXOtObIXahQ+rHLnR4Vzl2ocMHVWMXOnxSMXahwxHVYhc6nFApdqHDGVViFzpcUCF2ocMVRo9d6HClkWMXOtxg1NiFDjcaMXahwx1Gi13ocKeRYhc6PGCU2HfPz8+/tR4Bt3p6evrResNHb29vf3z//v2v1jtO2e33+7fWI6CCnmN3usNCej7jhQ4L6jV2ocPCeoxd6LCC3mIXOqykp9iFDivqJXahw8p6iF3osIHWsQsdNtIydqHDhlrFLnTYWIvYhQ4NbB270KGRLWMXOjS0VexCh8a2iF3o0IG1Yxc6dGLN2IUOHVkrdqFDZ9aIXejQoaVjFzp0asnYhQ4dWyp2oUPnlohd6DCAR2MXOgzikdiFDgO5N3ahw2DuiV3oMKBbYxc6DOqW2IUOA7s2dqHD4K6JXehQwKXYhQ5FnItd6FDIqdiFDsUci13oUNDn2IUORX2M/UvrMcB63mP3okN1u93uq9ChttfD4fBN6FDX6+Fw+Jb4jIOq/os8ETpU9FPkidChml8iT4QOlRyNPBE6VHEy8kToUMHZyBOhw+guRp4IHUZ2VeSJ0GFUV0eeCB1GdFPkidBhNDdHnggdRnJX5InQYRR3R54IHUbwUOSJ0KF3D0eeCB16tkjkidChV4tFnggderRo5InQoTeLR54IHXqySuSJ0KEXq0WeCB16sGrkidChtdUjT4QOLW0SeSJ0aGWzyBOhQwubRp4IHba2eeSJ0GFLTSJPhA5baRZ5InTYQtPIE6HD2ppHnggd1tRF5EnyJcmP1iPgDl9bD7igm8iTZNd6ANxjv9+/td5wRleRJ053WFp3kSdChyV1GXkidFhKt5EnQocldB15InR4VPeRJ0KHRwwReSJ0uNcwkSdCh3sMFXkidLjVcJEnQodbDBl5InS41rCRJ0KHawwdeSJ0uGT4yBOhwzklIk+EDqeUiTwROhxTKvJE6PBZucgTocNHJSNPhA7/Kht5InRIikeeCB3KR54InblNEXkidOY1TeSJ0JnTVJEnQmc+00WeCJ25TBl5InTmMW3kidCZw9SRJ0KnvukjT4RObSJ/J3SqEvkHQqcikX8idKoR+RFCpxKRnyB0qhD5GUKnApFfIHRGJ/IrCJ2RiRwq2+/3f7beMJK/AbljiBZN0MHAAAAAAElFTkSuQmCC) no-repeat center; color: #a8a8a8; text-decoration: none; text-transform: uppercase }
#sign-up:hover  { -webkit-transform: translateY(5px); -moz-transform: translateY(5px); transform: translateY(5px) }

@-webkit-keyframes fail {
  0%    { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  14%   { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  15%   { text-shadow: 0 0 3rem rgba(255, 255, 255, 0.5) }
  16%   { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  25%   { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  26%   { text-shadow: 0 0 3rem rgba(255, 255, 255, 0.5) }  
  27%   { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  74%   { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  75%   { text-shadow: 0 0 3rem rgba(255, 255, 255, 0.5) }
  76%   { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
  100%  { text-shadow: 0 0 20rem rgba(255, 255, 255, 0.5) }
}

@-webkit-keyframes fadeout {
  0%    { opacity: 1 }
  50%   { opacity: 1 }
  100%  { opacity: 0 }
}
